<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="./new-note" >
        <ion-icon name="add" slot="icon-only">

        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
<ion-list>
  <ion-item>

  </ion-item>
</ion-list>
</ion-content>
